$color-dark: #0D0D0D;
$color-yellow: #D99E32;
$color-pikachu: #F6CF57;
$color-brown: #A66617;
$color-brown-yellow: #D9A566;
$color-red: #F22E2E;
$background-gradient: linear-gradient(to bottom,#f3f4f4 0%,#c1c1c1 200px)