@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Press+Start+2P&family=Roboto&display=swap');

$font-base: 'Roboto', sans-serif;
$font-secondary: 'Exo 2', sans-serif;
$font-alt: 'Press Start 2P', cursive;
$main-font-size: 18px;
$bigger-font-size: 2 * $main-font-size;
