.login {
  background: $background-cards;

  .pikachu {
    width: calc(100% / 3);
    min-width: 300px;
    border-bottom: 3px solid $color-brown;
  }

  &-title {
    font-family: $font-alt;
  }

  &-button {
    background-color: $color-pikachu;
    color: inherit;
  }
}

.login-logo {
  width: 100%;
  max-width: 500px;
}