.main {
  background: $background-cards;
  min-height: 50vh;
  z-index: -20;

  .ash {
    max-width: 100px;
    border-bottom: 3px solid $color-brown;
    z-index: -10;
  }

  &-title {
    font-family: $font-alt;
  }

  &-button {
    background-color: $color-pikachu;
    color: inherit;
  }

  .pokemon {
    max-height: 150px;
  }

  &-button {
    background-color: $color-pikachu;
    color: inherit;
  }
}

